
<!-- Hover Trigger -->
<div id="rightHoverTrigger"></div>

<!-- Aside Menu -->
<aside id="hoverAside" class="shadow">
    <div class="p-3">
        <h5>Quick Actions</h5>
        <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Add Device</a></li>
            <li><a href="#" class="text-decoration-none">Create Ticket</a></li>
            <li><a href="#" class="text-decoration-none">Generate Report</a></li>
        </ul>
    </div>
</aside>
