{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <div class="row">
        <div class="card shadow-sm">
            {% include 'ticket/components/form/full_form.html.twig' with { form: form } %}
        </div>
    </div>
{% endblock %}
