{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <div class="row">
        <div class="card shadow-sm">
            tickets
        </div>
    </div>
{% endblock %}
