{% extends 'base.html.twig' %}

{% block body %}
    {{ ticket.id }} - {{ ticket.subject }} - Requested By: <a href="#" class="link-info">{{ ticket.requestingUser.firstname ~ ', ' ~ticket.requestingUser.firstname }}</a>
    <p>
        {{ ticket.originalMessage }}
    </p>
{% endblock %}
