<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tech Portal{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if app.user is not null %}
    {% include 'partials/navbar.html.twig' %}
{% endif %}

        <div class="container-fluid content-wrapper bg-dark-subtle" style="min-height: 100vh;">
            <div class="m-2">
                <div class="row">
                    <div class="card shadow-sm py-3">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/aside.html.twig' %}

{% block modal %}{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    <script src="{{ asset('components/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('components/jquery-ui/jquery-ui.min.js') }}"></script>
{% endblock %}
</body>
</html>
