{% macro list_ticket_item(ticket) %}
        <div class="card">
            <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">
                <div class="card-body">
                    {{ ticket.id }} - {{ ticket.subject }} : {{ ticket.originalMessage }}
                </div>
            </a>
        </div>
{% endmacro %}
